<div class="chat">
	<div class="room page" ng-show="{{isLogin}}">
		<div scroll-glue class="chatArea" style="height: {{chatAreaHeight}}px;">
			<ul class="messages">
				<message ng-repeat="message in messages"/>
			</ul>
		</div>
		<div class="inputArea">
			<input ng-model="newMessage" ng-keypress="keyMessage($event)" class="inputMessage" placeholder="I want to say ..." />
			<input type="file" id="file" hidden />
			<i class="fa fa-paperclip fa-lg" ng-click="selectFile()"></i>
			<button ng-click="sendMessage()">send</button>
		</div>
	</div>
</div>